@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-opacity {
    transition: opacity 0.4s;
}

/* Ensure text appears smoothly */
.content-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}